# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_3_elements = a[-3:] 
#-3 is third last number and : after -3 means all numbers after it.

In [28]:
# create a list of numbers from 1 to 20
list_1_to_20 = list(range(1,21)) 
#range is start inclusive, end exclusive so we use 21 not 20

In [29]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
even_num = [num for num in range(1,101) if num % 2 == 0]
print(even_num)
#even numbers are numbers in the range (1 inclusive, 101 exclusive) that are divisible by 2; remainder of 0.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [30]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def nums(num1, num2):
    divide = num1 / num2
    return divide
#defines nums as a function of 2 numbers num1 and num2. divide num1 by num2 and return the value

In [40]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
def fizzbuzz():
    for i in range(1,31):
        if i % 3 == 0 and i % 5 == 0:
            print("fizzbuzz")
        elif i % 3 == 0:
            print("fizz")
        elif i % 5 == 0:
            print("buzz")
        else:
            print(i)
fizzbuzz()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [41]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
Ahmo_menu = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [50]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
type(df)

pandas.core.frame.DataFrame

In [51]:
# select all rows with more than and including 400 calories
df[df['calories'] >= 400]

In [52]:
# select all rows whose vitamin c content is higher than the iron content
df[df['vitamin_c'] > df['iron']]

In [53]:
# create a new column containing the caffeine per calories of each drin
df['caffeine_per_calorie'] = df['caffeine'] / df['calories']

In [54]:
# what is the average calorie across all items?
average_calories = df['calories'].mean

In [55]:
# how many different categories of beverages are there?
total_cat = df['beverages'].sum

In [56]:
# what is the average # calories for each beverage category?
avg = df['"beverages"'].sum / df['calories'].sum